.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--color-border-secondary);
    padding: 1rem;
    border-radius: 8px;
    background: var(--color-bg-primary);
}
