.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #d1d5db;
    padding: 1rem;
    border-radius: 8px;
}