.menuWrapper {
    position: relative;
}

.triggerBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownMenu {
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    padding: 6px;
    min-width: 210px;
    z-index: 50;
    animation: fadeIn 0.15s ease-out;
    display: flex;
    flex-direction: column;
    gap: 4px !important;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #111827;
    cursor: pointer;
    transition: background 0.15s;
}

/*.dropdownMenu {*/
/*    position: absolute;*/
/*    top: 36px;*/
/*    right: 0;*/
/*    background: #fff;*/
/*    border: 1px solid #e5e7eb;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);*/
/*    padding: 6px;*/
/*    min-width: 220px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    z-index: 200;*/
/*    animation: fadeIn 0.15s ease-out;*/
/*}*/

/*.dropdownItem {*/
/*    padding: 8px 12px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 8px;*/
/*    border-radius: 6px;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*    transition: background 0.15s;*/
/*}*/

.dropdownItem:hover {
    background-color: #f3f4f6;
}

.dropdownItem svg {
    min-width: 16px;
    height: 16px;
}

.danger {
    color: #dc2626;
}




/*!* Контейнер для меню *!*/
/*.menuWrapper {*/
/*    position: relative;*/
/*}*/

/*!* Меню *!*/
/*.dropdownMenu {*/
/*    position: absolute;*/
/*    top: 40px;*/
/*    right: 0;*/
/*    background: #fff;*/
/*    border: 1px solid #e5e7eb;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);*/
/*    padding: 6px;*/
/*    min-width: 180px;*/
/*    z-index: 50;*/
/*    animation: fadeIn 0.15s ease-out;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 4px !important;*/
/*}*/

/*.dropdownItem {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 8px;*/
/*    padding: 8px 10px;*/
/*    border-radius: 6px;*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    color: #111827;*/
/*    cursor: pointer;*/
/*    transition: background 0.15s;*/
/*}*/

/*.dropdownItem:hover {*/
/*    background-color: #f3f4f6;*/
/*}*/

