.wrapper {
    display: flex;
    flex-direction: column;
}

.chips {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
}

.dropdown {
    width: 280px;
    padding: 6px;
}

.list {
    max-height: 240px;
    overflow-y: auto;
}

.option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-color-primary);
}

.option:hover {
    background: var(--background-color-primary_hover);
}

.color {
    width: 10px;
    height: 10px;
    border-radius: 999px;
}

.empty {
    padding: 12px;
    text-align: center;
    color: var(--color-gray-500);
}