.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.publicPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color-secondary);
    border-bottom: 1px solid var(--border-color-secondary);
    backdrop-filter: blur(8px);
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    user-select: none;
    overflow: hidden;
}

.lists {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    overflow-y: hidden;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    user-select: none;
    touch-action: pan-y;
}

.lists.dragging,
.lists.active {
    cursor: grabbing;
}

.lists.active {
    cursor: grabbing;
}

.lists::-webkit-scrollbar {
    height: 10px;
}

.lists::-webkit-scrollbar-thumb {
    background: #c1c7d0;
    border-radius: 4px;
}

.extraActions {
    display: flex;
    height: 100%;
    position: relative;
    flex-wrap: nowrap;
    align-items: flex-start;
    min-height: 32px;
    margin-left: auto;
    gap: 4px;
}


.title {
    overflow: hidden;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.settingsWrapper {
    position: relative;
}

.slideIn {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    opacity: 1;
    transition: transform 0.4s ease;
}

.slideIn.active {
    transform: translateX(0);
}