.page {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(163, 162, 162, 0.24);
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.lists {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    overflow-y: hidden;
    padding: 20px;
    box-sizing: border-box;

    overflow-x: auto;
    cursor: grab;
    user-select: none;
    touch-action: pan-y;
}
.lists.dragging, .lists.active {
    cursor: grabbing;
}

.lists.active {
    cursor: grabbing;
}

.lists::-webkit-scrollbar {
    height: 10px;
}

.lists::-webkit-scrollbar-thumb {
    background: #c1c7d0;
    border-radius: 4px;
}



.extraActions {
    display: flex;
    height: 100%;
    position: relative;
    flex-wrap: nowrap;
    align-items: flex-start;
    min-height: 32px;
    margin-left: auto;
    gap: 4px;
}

.extraActions button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 12px;
    transition: background 0.2s;
}
.extraActions button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.title {
    overflow: hidden;
    background: transparent;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.settingsWrapper {
    position: relative;
}

.slideIn {
    position: absolute;
    right: 0;
    top: 0;
    /*height: 100%;*/
    transform: translateX(100%);
    opacity: 1;
    transition: transform 0.4s ease;
}

.slideIn.active {
    transform: translateX(0);
}