.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1rem;
    border-radius: 10px;
    font-size: 0.95rem;
    line-height: 1.5;
    /*margin-bottom: 1rem;*/
    gap: 8px;
    cursor: pointer;
}

.card:hover > button {
    text-decoration: underline;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 2px;
    flex-shrink: 0;
}

.text {
    color: #3f3f46;
    line-height: 1.1rem;
}

.info {
    background: #eef6ff;
    border: 1px solid #bfdbfe;
    color: #1e3a8a;
}

.warning {
    background: #fff8e1;
    border: 1px solid #facc15;
    color: #92400e;
}

.success {
    background: #ecfdf5;
    border: 1px solid #34d399;
    color: #065f46;
}

.linkBtn {
    color: currentColor;
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        align-items: flex-start;
    }
    .content {
        flex-direction: column;
        align-items: flex-start;
    }
}