* {
    font-family: Inter, sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
}

p {
    font-weight: 400;
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #cdbff8;
}

input[type="checkbox"] {
    accent-color: #00a86b;
}

input {
    font-size: 0.95rem;
}






@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

.monaco-editor, .monaco-editor * {
    font-family: "JetBrains Mono", monospace !important;
}


.monaco-editor .mtk5.tab,
.monaco-editor .token.tab,
.monaco-editor .mtkw.tab,
.monaco-editor .view-line span.mtkw.tab {
    width: 32px !important;   /* дефолт ~8-12px → робимо в 2–3 рази ширше */
}
